body {
    background-color: gainsboro;
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: "UnifrakturCook", cursive, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
  }
  
  .sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
  }
  .reset-btn {
    font-family: "UnifrakturCook", cursive, sans-serif;
    font-size: 20px;
    margin: 10px;
  }


  
  